*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Syne Mono', monospace;
}

/* HEADER */

.header h1{
    text-align: center;
    background-color: darkolivegreen;
}

/* MAIN */

.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#form button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
#form button:hover{
    background-color: cadetblue;
    transition: .3s all ease-in-out;
    color: black;
}

/* FOOTER */

.footer{
    text-align: center;
    background-color: rgb(157, 179, 119);
    padding: 5px;
}