body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Syne Mono', monospace;
}

/* HEADER */

.header h1{
    text-align: center;
    background-color: darkolivegreen;
}

/* MAIN */
.divImg{
    background-image: url(img/fotoejercicio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#form button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
#form button:hover{
    background-color: cadetblue;
    transition: .3s all ease-in-out;
    color: black;
}
i{
    cursor: pointer;
}
.contenedorTemporizador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkolivegreen;
    border-radius: 50px;
    width: 35vw;
    margin: 15px auto;
}
@media (max-width: 640px){
    .contenedorTemporizador h4{
        font-size: 16px;
    }
    .contenedorTemporizador input{
        width: 100%;
    }
}
.parrafoTemporizador{
    font-size: 13px;
}
.temporizador{
    border: solid 1.5px darkolivegreen;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}
.playTemporizador{
    font-size: 70px !important;
}
.pauseTemporizador{
    font-size: 70px !important;
}
.botonPlayTemporizador {
    border: none;
}
.botonPauseTemporizador{
    border: none;
}
.playTemporizador:hover, .pauseTemporizador:hover{
    color: darkolivegreen;
    cursor: pointer;
}

.imagenMain{
    background-image: url(img/imagenn.jpg);
    height: 70vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 3rem 0;
}


/* FOOTER */

.footer{
    text-align: center;
    background-color: rgb(157, 179, 119);
    padding: 5px;
}