*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Syne Mono', monospace;
}

/* HEADER */

.header h1{
    text-align: center;
    background-color: darkolivegreen;
}

/* MAIN */

.sectionLibros{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorLibros{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 9px 9px 30px -8px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 10px;
}
.item p{
    font-size: 12px;
}
.item img{
    border-radius: 5px;
}

/* FORM */

.sectionForm{
    background-image: url(img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}
.title{
    text-align: center;
    margin-bottom: 1rem;
}
.formulario{
    height: 80%;
    text-align: left;
}
input{
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    padding: 0.7rem 0;
    font-weight: bold;
    color: white;
}
.formulario label, .formulario input, .formulario button{
    margin: 1rem 0;
}
.boton{
    width: 100%;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #b80f22;
    border: none;
    font-size: 18px;
    color: white;
}
.boton:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(80, 77, 77);
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0.5rem 0;
}

/* FOOTER */

.footer{
    text-align: center;
    background-color: rgb(157, 179, 119);
    padding: 5px;
}